##
# SDaiLover Open Source & Software Development
#
# @fullname : Stephanus Bagus Saputra
#             ( 戴 Dai 偉 Wie 峯 Funk )
# @email    : wiefunk@stephanusdai.web.id
# @contact  : http://t.me/wiefunkdai
# @support  : http://opencollective.com/wiefunkdai
# @link     : http://www.stephanusdai.web.id
# @license https://www.sdailover.web.id/license/
# @copyright (c) 2023 StephanusDai Developer. All rights reserved.
#
<IfModule mod_rewrite.c>
    <IfModule mod_headers.c>
        Header set Service-Worker-Allowed "/"
        Header add Access-Control-Allow-Origin: "*"
        Header add Access-Control-Allow-Methods: "*"
        Header add Access-Control-Allow-Headers: "*"
        Header add Strict-Transport-Security "max-age=157680000"
    </IfModule>
</IfModule>
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options +FollowSymLinks -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    #RewriteBase /

    # Redirect Force HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [L]
</IfModule>